.boton,.boton-agregar-amigo,.boton-eliminar-amigo{
    border: 1px solid red;
    background-color: white;
    border-radius: 5px;
    padding: 2px 10px;
}
input{
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px 10px;
}